@font-face {
    font-family: "Cool";
    src: url("mainfont.otf")
}

@font-face {
    font-family: "Caligraphy";
    src: url("caligraphy.ttf");
}

body {
    margin: 0;
    background-color: #080415;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #11115b;
    overflow: hidden;
    font-family: 'Cool', Arial, sans-serif;
    position: fixed;
    width: 100%;
    height: 10%;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding-top: 1%;
    text-decoration: none;
    font-size: 3vw;
    width: 16%;
    height: 100%;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #2900cc;
    color: white;
}

.topnav div {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding-right: 0px;
    padding-top: 20px;
    font-size: 2.3vw;
    width: 18%;
    height: 100%;
}

.contentbubble {
    padding-top: 70%;
    display: flex;
}

.creations {
    width: 45%;
    height: 43%;
    border-radius: 3%;
    outline: #4974FF;
}